/* 头部 */
body{
    min-width: 1200px;
}
header{
    background: #fff;
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    line-height: 70px;
}
.head-l{
    width: 75%;
    display: flex;
    align-items: center;
}
.head-pot{
    position: relative;
}
.head-pot a{
    width: 85px;
    height: 52.5px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.head-pot img{
    width: 85px;
}
.head-ul{
    margin: 0 57.5px;
    font-size: 15px;
    font-weight: 700;
}
.head-ul li{
    float: left;
    padding: 0 30px;
    cursor: pointer;
}
.head-r{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-inp{
    display: flex;
    align-items: center;
    width: 210px;
    height: 38px;
    border: 1px solid #ddd;
}
.head-inp input{
    line-height: 70px;
    width: 168px;
    height: 36px;
    border: none;
}
.hade-fd{
    cursor: pointer;
    font-size: 20px;
}
/* 轮播图 */
.slide{
    position: relative;
    width: 1400px;
    margin:0 auto;
}
.slide-c{
    width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slide-img{
    width: 11760px;
}
.slide-img img{
    width: 1400px;
    float: left;
}
.slide-dian{
    position: absolute;
    left: 50%;
    transform:translate(-50%,0);
    bottom: 20px;
}
.slide-dian li{
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}
.bg{
    line-height: 19px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slide-dian span{
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
}
.ann{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform:translate(0,-50%);
    text-align: center;
    display: none;
}
.xz{
    left: 100px;
}
.xy{
    right: 100px;
}
.ann{
    cursor: pointer;
}
.ann-a{
    opacity: 0.1;
    font-size: 50px;
    line-height: 50px;
}
.slide:hover .ann{
    display: block;
}
/* 中心 */
.cona-t{
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 42px;
    margin: 56px 0px 20px;
}
.cona-t a{
    width: 210px;
    height: 42px;
    color: #000;
    display: inline-block;
}
.icon-xiangyou{
    color: #035AAA;
    font-weight: normal;
    font-size: 24px;
}
/* 心选 */
.cona-ul{
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
.cona-ul li{
    height: 60px;
    padding: 10px;
    color: #444;
    line-height: 60px;
    cursor: pointer;
}
.bb{
    border-bottom:5px solid #035AAA;
}
.cona-mian{
    width: 1200px;
    height: 790px;
    margin: 0 auto;
    padding-top:60px;
}
.clse{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 540px;
    background-color: #f6f7f9;
    z-index: -1;
}
.cona-left{
    position: relative;
    width: 500px;
    height: 648px;
    background: #E9EBF2;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 8px solid rgba(3,90, 170, 0);
}
.cona-nav{
    position: relative;
}
.cona-left img{
    margin-bottom: 50px;
    width: 460px;
    height: 460px;
    transition: all 0.5s linear;
}
.conp2{
    margin-top: 15px;
    font-size: 12px;
}
.cona-left:hover{
    transition: all 0.5s linear;
    border-bottom: 8px solid rgba(3,90, 170, 1);
}
.cona-left:hover img{
    transform: scale(1.08);
}
.cona-left a{
    width: 500px;
    height: 648px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.concon,.conright{
    width: 350px;
    height: 648px;
    box-sizing: border-box;
}
.concon-top,.concon-bot{
    width: 350px;
    height: 324px;
    padding-top: 55px;
    text-align: center;
    border-bottom: 8px solid rgba(3,90, 170, 0);
    position: relative;
}
.concon-top a,.concon-bot a{
    width: 350px;
    height: 324px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.concon-top img,.concon-bot img{
    margin: 0 auto 10px;
    width: 180px;
    height: 180px;
    transition: all 0.5s linear;
}
.concon-top:hover img{
    transform: scale(1.1);
}
.concon-bot:hover img{
    transform: scale(1.1);
}
.concon-bot:hover{
    transition: all 0.5s linear;
    border-bottom: 8px solid rgba(3,90, 170, 1);
}
.concon-top:hover{
    transition: all 0.5s linear;
    border-bottom: 8px solid rgba(3,90, 170, 1);
}
.con-bg2{
    background-color: #F1F2F6;
}
.con-bg{
    background-color: #FBFBFB;
}
.cona-mian>div{
    width: 1200px;
    height: 648px;
}
.cona-mian>div{
    display: none;
}
.cona-mian .xs{
    display: block;
}
.con-bg3{
    background-color: #fff;
}
/* 活动 */
.con-hd{
    width: 1200px;
    height: 700px;
    margin-bottom: 100px;
    margin:0 auto;
    position: relative;
}
.huodong{
    width: 612px;
    height: 578px;
    position: absolute;
    top: 100;
    box-sizing: border-box;
}
.hd-l{
    left: 0;
}
.hd-r{
    right: 0;
}
.hdl-pic{
    position: absolute;
    height: 386px;
    width: 612px;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: all 0.5s linear;
    padding-bottom: 10px;
    border-bottom: 8px solid rgba(3,90, 170, 0);
}
.hdl-t{
    position: absolute;
    bottom: 0;
    left: 0;
}
.hdl-t :nth-child(2){
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hdl-t :last-child{
    width: 63%;
    font-size: 14px;
    color: #444;
}
.hdr-pic{
    position: absolute;
    height: 387px;
    width: 612px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
    padding-bottom: 10px;
    border-bottom: 8px solid rgba(3,90, 170, 0);
}
.hdr-t{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding-left: 170px;
    margin-top:20px;
}
.hdr-t :nth-child(2){
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hdr-t :last-child{
    width: 63%;
    font-size: 14px;
    color: #444;
}
.hdl-pic img,.hdr-pic img{
    width: 100%;
    transition: all 0.5s linear;
    margin: 0 auto;
}
.hdl-pic:hover{
    z-index: 3;
    border-bottom: 8px solid rgba(3,90, 170, 1);
}
.hdl-pic:hover img{
    transform: scale(1.05);
}
.hdr-pic:hover img{
    transform: scale(1.05);
}
.hdr-pic:hover{
    z-index: 3;
    border-bottom: 8px solid rgba(3,90, 170, 1);
}
.hdl-pic a,.hdl-t a,.hdr-t a,.hdr-pic a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
/* 资讯 */
.con-new{
    width: 1200px;
    height: 842px;
    padding-bottom: 100px;
    margin:0 auto;
}
.new-t div{
    padding: 55px 0 70px 0;
    margin: 0;
}
.new-main{
    width: 1200px;
    height: 575px;
    position: relative;
}
.news-l{
    width: 640px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.news-r{
    width: 420px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.news-pic{
    width: 640px;
    height: 360px;
    overflow: hidden;
}
.news-pic img{
    width: 100%;
    transition: all 0.3s linear;
}
.news-t{
    position: relative;
    width: 100%;
    height: 33.333%;
    padding: 35px 0 20px 0;
}
.news-l :nth-child(3){
    margin: 43px 0 43px;
    font-size: 30px;
    font-weight: bold;
}
.news-l :nth-child(4){
    line-height: 26px;
}
.news-l :nth-child(5){
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-color: #c7d3d9;
}
.xian{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: #035AAA;
    transition: all 0.3s linear;
}
.news-l:hover p,.news-t:hover p{
    color: #035AAA;
}
.news-l:hover .xian,.news-t:hover .xian{
    width: 100%;
}
.news-l:hover img{
    transform: scale(1.05);
}
.new-main a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.news-t :nth-child(2){
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
}
.news-t :nth-child(3){
    font-size: 14px;
    line-height: 23px;
    color: #666;
}
.news-t :nth-child(4){
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-color: #c7d3d9;
}
/* 底部 */
.footer{
    height: 303px;
    background-color: #F6F7F9;
}
.foot-c{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 15px 0;
}
.foot-t{
    width: 100%;
    height: 212px;
}
.foot-main{
    width: 16%;
}
.foot-t>div:nth-child(2){
    width: 20%;
}
.foot-main>p:nth-child(1){
    padding: 15px 0 ;
    font-size: 14px;
    font-weight: bold;
}
.foot-main a{
    font-size: 12px;
    line-height: 27px;
    color: #444;
    margin: 5px 0;
}
.foot-main a:hover{
    text-decoration: underline;
}
.footl{
    width: 30%;
}
.footr{
    width: 70%;
}
.foott{
    margin-top: 23px;
    border-top: 1px solid #666;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.foott a,.foott span{
    font-size: 12px;
    color: #444;
    line-height: 27px;
}
.foott span{
    padding: 0 10px;
}
.foottc{
    flex-grow: 1;
    text-align: center;
}
